
*{
    margin: 0px;
    padding: 0px;
  }
  
  body{
    background-color:gray;
    font-family:Arial, Helvetica, sans-serif;
  }
  
  #pri{
    text-align:center;
    margin: 8px;
    color:white;
    background-color:orange;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black
  
  }
  
  header{
    background-color:white;
    padding:1px;
    margin:1px;
    min-height:50px;
  }
  
  nav{
      background-color:#ffdead;
      display:inline-block;
      margin: 6px;
      padding:7px;
      border-radius: 5px;
  }
   nav > a{
     margin:20px;
     color:black;
  
   }
  
  nav > a:hover{
    color:blue;
    background-color:#00fa9a;
    border: 7px solid #00fa9a;
    border-radius: 5px;
  }
  
  main{
    max-width: 100%;
    background-color:#bc8f8f;
    padding:5px;
    margin:3px;
    border-radius: 7px 0px 7px 0px;
    border: 0.1em solid blue;
  
  }
  main > p{
    font-family:serif;
    margin:0px;
    text-indent: 2em;
    font-size: 20px;
  }
  
  footer{
  
    background-color:black;
    text-align:center;
    margin:0px;
    padding:10px;
  }
  footer > a{
    margin:10px;
    text-decoration: none;
    color: white;
    font-family:sans-serif;
  
  
  }
  
  .container{
    
    padding: 8px;
    min-width: 120px;
    display:flex;
    min-height:200px;
    justify-content: flex-start;
    flex-direction:row;
    gap:20px;
    text-align: justify;
  }
  
  .move{
      text-align: start;
      padding-left: 50px;
      background-color:red;
      display:block;
      width:100%;
      height:160px;
      box-shadow: 2px 2px 0px gray;
      border-radius: 16px 0px 16px;
      
  
  }
  
  @media(max-width:565px){
    .container{
      display:flex;
      
      flex-direction: column-reverse;
      align-items: center;
       
    }

    .move{
      
      margin: 5px;
      border: 1px solid rgb(39, 37, 37);
      max-width:280px;
      border-radius: 14px 0px 15px 0px ;
      text-align:justify;
      box-shadow: 5px 0px 5px 0px rgba(58, 55, 55, 0.767);
      
    }
    
  }
  