*{
    padding: 10px;
    margin: 10px;
}

body{

    background-color: rgb(50, 41, 41);
}

.bt{

    width: 100%;
    text-align: center;

}

.bt button{

    width: 80px;
    height: 40px;
    border-radius: 15px;
    border: 0;
}

.bt button:hover {

    background-color: aquamarine;
    transform: scaleX(1.1);
}


.myStyle{

    background-color: coral;
    padding: 10px;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 20px;
    border-radius: 10px;
    border: 2px solid rgb(131, 121, 142);
}

.myStyle:hover{

    transform:skewY(20deg);
}