
#pos{
    position:relative;
    
    width:100% auto;
    
    
}

.galery{
    
    width:640px;
    height:400px;
    margin:auto;
    
    overflow: hidden;
    
}

.fotos {
    width:500%;
    animation-name:animaco;
    animation-duration: 12s;
    animation-iteration-count:infinite;
}

.galery .fotos img {
    
    width:19.9%
}

@keyframes animaco {

    0%{margin-left:0%;}
    20%{margin-left:0%;}
    25%{margin-left:-100%;}
    45%{margin-left:-100%;}
    50%{margin-left:-200%;}
    70%{margin-left:-200%;}
    95%{margin-left:-300%;}
    100%{margin-left:-300%;}
    

}