
/*  01 #68da3e
    02 #00c6ab
    03 #6aa3b4
    04 #416864
    05 #223026 */
*{
    padding: 0px;
    margin: 0px;
}



header{
    position: relative; 
    margin: 0px;
    padding: 10px;
    max-width: 100%;
    height: 580px;
    background-color: #223026;
    box-shadow: 5px 5px 5px #416864;
}

header .abi{
    position: absolute;
    left: 10 px;
    padding: 10px;
    border-radius: 15px 15px 15px 15px ;
    
}

header .logocss{
    position: absolute;
    left: 120px;
    margin: 10px;


}

header   h1  {
    max-width: 300px;
    height: 60px;
    margin-left: 10px;
    padding: 10px;
    font: 10em sans-serif;
    font-size:50px;
    color:yellowgreen;
}


header  h2{
    max-width: 150px;
    height: 40px;
    margin-left: 10px;
    padding-top: 4px;
    font: 5em sans-serif;
    font-size:40px;
    color:yellow;
    box-shadow: 3px 7px 8px -5px red
    
}



.contener{

    max-width: 800px;
    height: 430px;
    text-align: center;
    margin: 15px auto;
    background-color: #336b43;
    box-shadow: 3px 7px 8px -5px red

}

